/* підвал */
.footer__section {
    background-color: $footer-background-color;
    padding: 60px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer__address {
    color: $color-white;
    font-style: normal;
}

.footer__contacts {
    color: $contacts-text-color;
    font-style: normal;
}

