.container {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.list {
    list-style-type: none;
}

.flex-list {
    display: flex;
}

.section {
    padding: 94px 0;
}

.btn {
    border: none;
    cursor: pointer;
}

.button {
    background-color: var(--color-decoration);
    box-shadow: var(--main-button-shadow);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $color-white;
    transition: background-color 250ms var(--animation-timing-function);
}

.button:hover,
.button:focus {
    background-color: var(--color-button-active);

}

.link {
    text-decoration: none;
    transition: color 250ms var(--animation-timing-function);
}

.link:hover,
.link:focus {
    color: var(--color-decoration);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.secondary-title {
    margin: 0 0 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-title);
}